@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6660C8;
  color: #fff;
}

body.no-animation * {
  animation: none!important;
}